* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 5px;
  font-size: 16px;
  text-align: center;
  margin: auto;
}

.main {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.container {
  margin: 10px;
  padding: auto;
  border: 1px dashed gray;
}

.container p {
  font-size: 1.5rem;
  margin: 2% auto;
}
.options {
  margin: 1%;
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  list-style: none;
  border: 1px dashed gray;
  background-color: honeydew;
}

.options li {
  margin: 5px;
  text-align: center;
}

.options img {
  width: minmax(200px, 250px);
  height: minmax(100px, 150px);
}

.options li > a:hover {
  opacity: 0.75;
}

.button button {
  width: 200px;
  height: 100px;
  border-radius: 5px;
  border: 2px solid gray;
  background-color: gold;
  font-size: 2.5rem;
  font-weight: 700;
  cursor: pointer;
  color: black;
}

.button button:hover {
  opacity: 0.85;
  background-color:darkgoldenrod;
}

.answer {
  margin: 1% 1%;
  padding: 1%;
  border: 1px dashed red;
  width: 100%;
}

.answer > p:first-child {
  margin-bottom: 5px;
}

.proverb {
  margin: 2px auto;
  border: 1px dashed black;
  font-size: 3rem;
  min-height: 75px;
  text-shadow: 1px 1px black;
}

.author {
  height: 75px;
  border: 1px dashed blue;
  min-height: 75px;
}

.autobiography {
  height: 100px;
  border: 1px dashed blue;
  min-height: 150px;
}